/* PAGE FOUNDATION ELEMENTS */
body {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* SCREEN STYLES */



/* UNIVERSAL HEADER */

    /* Scroll container & scroll text */

    /* Navigation bar */
    .navigation ul li {
        list-style-type: none;
        margin: auto;
        flex: items-center;
    }

    a.active {
        font-weight: bold;
    }

    #tags. {

    }

    .tag-links ul li